body{
    background-color: antiquewhite;
}
h1{
    color: navy;
}
h2{
    color: darkblue;
}
h3{
    color: darkcyan;
}
h4{
    color: darkslateblue;
}
p{
    color: black;
}
body{
    background-color: antiquewhite;
}
h1{
    color: navy;
}
